.Box {
  display: grid;
  grid-template-columns: 100px 100px 200px;
  margin-top: 20px;
}

.Box2{
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-top: 30px;
}

.Box3{
  display: grid;
  grid-template-columns: 100px 1fr 2fr;
  margin-top: 30px;
}